*{
    margin: 0;
    padding: 0;
}

.logo{
    height: 70px;
    width: 70px;
}


.main{
    width: 100%;
    background: url(background.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navBar{
    width: 86%;
    display: flex;
    margin: auto;
    padding: 15px 0;
    justify-content: space-between;
    align-items: center;
}

.navBar .logo{
        width: 100px;
        cursor: pointer;
        margin-top: 10px;
        margin-left: -2%;   
}

ul{
    margin-top: -4%;
}

ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 16px;
}

ul li a{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: chocolate;
    margin-top: -3%;
    transition: .4s ease;
}

ul li a:hover{
    color: rgb(230,04,59);
}

.info{
    margin-left: 47px;
    margin-top: 6%;
}

.info h1{
    font-size: 65px;
    color: rgb(36,32,20);
}

.info h3{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 24px;
}

.info span{
    color:rgb(230,104,59);
}

.info a{
    text-decoration: none;
    color: #fff;
    background: rgb(36,32,30);
    margin: 20px 0px;
    padding: 10px 18px;
    border-radius: 10px;
    display: inline-block;
    transition: 2s ease;
}

.info a:hover{
    background:chocolate;
}

.boy{
    width: 300px;
    height: 300px;
}

.image{
    width: 30%;
    height: 60%;
    position: absolute;
    right: 100px;
    bottom: 10px;
}

.image img{  
    position: absolute;
    height: 100%;
    left: 40%;
    transform: translate(-55%);
    bottom: 0;
    transition: left 2s ease;

}

.image:hover .boy{
    left: 55%;
}

.icons{
 margin-left: 44px;
}

.iconics{
    height: 32px;
    width: 32px;
    padding-left: 10px;
}

